<%  include ./partials/header %>

<div class="jumbotron">
    <h1 class="display-4">Search For A Movie</h1>
    <form class="form-group" action="/results" method= "GET">
        <input id="movie-search" class="form-control make-inline" type="text" placeholder="search by movie title" name="search">
        <input class="btn btn-info" type="submit">
    </form>
</div>

<%  include ./partials/footer %>