<%  include ./partials/header %>

<div class="">
    <div class="jumbotron box-shadow centered">
        <h1 class="text-center">Search For A Movie</h1>
        <form class="form-group" action="/results" method= "GET">
            <div class="row mb-2 justify-content-center">
                <input id="" class="form-control form-control-lg col-12 movie-search" type="text" placeholder="search by movie title" name="search">
            </div>
            <div class="row justify-content-center">
                <input id="" class="btn btn-dark search-btn btn-lg btn-block movie-search" type="submit">
            </div>
        </form>
    </div>
</div>


<%  include ./partials/footer %>